html,
body {
  margin-top: 10px;
  text-align: center;
}

body {
  line-height: 1.4;
}

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #f7960b;
    color: #ffffff;
    text-shadow: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #323232;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.headerwrap p {
    color: #3ab8ad;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.headerName {
    margin-bottom: 2px;
}

p.headerName {
    font-size: 30px;
}

p.headerlead {
    max-width: 340px;
    font-size: 18px;
    margin-top: -6px;
    color: #acaeaf;
}

#particle-js {
    position: absolute;
    width: 100%;
    max-height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

nav ul, footer ul {
    font-family:Helvetica, Arial, Sans-Serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 16px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item-image {
margin-left: -5%;
}

.flex-item-txtblock {
    padding: 50px;
}

.hero-img {
    max-width: 600px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: " ";
}

.container-fluid:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
